.temporary_container {
    display: none!important;
}

.st_new_menu {
    display:flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-left: 0px;
}

.st_new_menu > li {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 34px;
}

.st_new_menu > li .st_menu_first_level {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.st_new_menu .show_hide_submenu {
    display: none;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.st_new_menu .show_hide_submenu:before {
    content: "+";
}
.st_new_menu div.active.show_hide_submenu:before {
    content: "-";
}

.st_new_menu > li:first-child {
    margin-left: 0px;
    padding-right: 16px;
}

.st_services:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45%;
}
.st_services:hover:after {
    content: "";
}

.st_services:hover .st_submenu_container {
    opacity: 1;
    visibility: visible;
}

.st_new_menu > li:first-child > a:after{
    content: "+";
    position: absolute;
    top: 0;
    right: -16px;
    display: block;
    font-weight: 400;
}


.st_new_menu > li .st_menu_first_level a,.st_new_menu > li > a {
    position: relative;
    font-family: "Rajdhani", sans-serif;
    font-size: 18px;
    color: inherit;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding-bottom: 7px;
}
.st_new_menu > li .st_menu_first_level a:before,.st_new_menu > li > a:before  {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: #39b4bd;
    width: 100%;
    transform: translateY(7px);
    opacity: 0;
    transition: all .3s ease;
}
.st_new_menu > li:hover .st_menu_first_level a:before,.st_new_menu > li:hover > a:before {
    opacity: 1;
    transform: none;
}

.st_submenu_container {
    background-color: #333133;
    padding: 72px 100px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all .3s ease;
    background-image: url("../images/new_submenu_bg.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.st_services_no_bg .st_submenu_container {
    background-image: none!important;
}

.st_services_background_type_2 .st_submenu_container {
    background-image: url("../images/about_us_menu_bg.jpg");
    background-size: cover;
    background-position: left center;
    background-color: #2d2d2d;
}
.st_services_background_type_2 .st_submenu_container {
    padding: 50px 24px;
}
.st_services_background_type_2 .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container {
    height: 100%;
    top:0px;
}
.st_services_background_type_2 .st_submenu_container .st_submenu_container_wrapper{
    padding-top: 50px;
}
.st_services_background_type_2 .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container{
    padding-top: 60px;
}

li.st_services_background_type_2 .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_content .st_submenu_level_2_col a {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.st_services_background_type_2 .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_content .st_submenu_level_2_col .about_company_text {
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.58);

}

.st_services_background_type_2 .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 {
    margin-bottom: 35px;
}

.st_services_no_bg .st_submenu_container .st_submenu_container_wrapper {
    width: 100%;
    max-width: 100%;
}


.st_services_no_bg .st_submenu_container {
    padding: 24px 24px;
}

.st_project_items {
    display: flex;
    justify-content: center;
}

.st_project_item {
    margin: 0 24px;
    max-width: 272px;
}

.st_project_item a {
    display: flex;
    flex-direction: column;
}
.st_project_item a span {
    display: block;
    width: 100%;
    margin-top: 24px;
    font-family: Rajdhani,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FFFFFF;
}
.st_project_item a span i {
    font-style: normal;
}

.st_project_item a img {
    max-width: 100%;
}

.st_submenu_container .st_submenu_container_wrapper {
    width: 100%;
    max-width: 1200px;
    min-height: 290px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 {
    margin-bottom: 54px;
}

.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 124.4%;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
}
.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_header span {
    font-family: "Rajdhani";
}
.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container {
    display: none;
    position: absolute;
    right: 0;
    top: -20px;
    width: calc(100% - 333px);
    height: calc(100% + 20px);
    padding: 0 50px 0 110px;
}
.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_header a{
    display: flex;
    width: 100%;
    margin-bottom: 27px;
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #39B4BD;
}
.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_header a:hover {
    opacity: 0.7;
}
.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_content .st_submenu_level_2_col a {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_content .st_submenu_level_2_col a:hover {
    color: rgba(255,255,255,0.6);
}


.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2:first-child .st_submenu_level_2_container {
    display: block;
}


.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container {
    background-image: url("../fonts/st_separator.svg");
    background-repeat: no-repeat;
    background-position: left center;
}



.st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 div.st_submenu_level_2_header.active {
    color: #fff;
}

.st_go_back {
    display: none;
}

.st_services_company .st_submenu_level_2_container_content .company_links {display: flex; flex-direction: column;}
.st_services_company .st_submenu_level_2_container_content .company_links a {
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.st_services_company .st_submenu_level_2_container_content .company_links a:hover {
    color: rgba(255,255,255,0.6);
}
.st_services_company .st_submenu_level_2_container_content .company_links a:last-child {margin-bottom: 0px;}

@media only screen and (max-width: 1200px) {
    .st_new_menu .show_hide_submenu {
        display: flex;
    }
    .st_new_menu > li:hover .st_menu_first_level a:before,.st_new_menu > li:hover > a:before {
        display: none;
    }
    .st_new_menu > li .st_menu_first_level a,.st_new_menu > li > a {
        padding-bottom: 0px;
    }

    .st_submenu_level_2_container_header {
        display: none;
    }

    .st_new_menu .st_services_menu .st_submenu_container {padding: 20px 0 0 20px;}
    .st_new_menu .st_services_menu .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_content {padding: 20px 0 0 20px;}

    .st_services_background_type_2 .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container {
        padding: 20px;
    }
    
    .st_services_company .st_submenu_level_2_container_content .company_links a {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 5px;
    }
}

.h-contact__content:after {
    background: none!important;
}



.our_process_items {
    counter-reset: section;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -30px;
}

.our_process_item {
    position: relative;
    z-index: 1;
    width: calc(25% - 23px);
    background: #EBF8F9;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 30px;
}
.our_process_item:nth-child(4),
.our_process_item:nth-child(8) {margin-right: 0px;}
.our_process_item span {
    display: block;
    padding-top: 31px;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
    color: #303031;
}
.our_process_item_header {
    position: relative;
}
.our_process_item_header p {
    font-family: Rajdhani,sans-serif;
    position: relative;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #303031;
    max-width: 150px;
    padding-bottom: 36px;
    margin-bottom: 0px;
}
.our_process_item_header:before {
    counter-increment: section;
    content: "0"counter(section);
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 85px;
    color: #FFFFFF;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: -30px;
}
.our_process_item_header:after {
    content: "";
    display: block;
    width: 71px;
    height: 2px;
    background: #39B4BD;
    position: absolute;
    left: 0;
    bottom: 0;
}
.our_process_item:before {
    content:'';
    display: block;
    position: absolute;
    right: 0;
    top:0;
    width: 0;
    height: 0;
    border-top: 25px solid white;
    border-left: 25px solid transparent;
}
.our_process_item:after {
    content:'';
    display: block;
    position: absolute;
    left: 0;
    bottom:0;
    width: 0;
    height: 0;
    border-bottom: 25px solid white;
    border-right: 25px solid transparent;
}


.models_of_cooperation {
    margin-bottom: 120px;
}
div.models_of_cooperation.benefits-2d {
	padding-top:0px;
}

.models_of_cooperation .models_of_cooperation__text {
    max-width: 410px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
    color: #303031;
}

.models_of_cooperation .benefits-2d__title {
    margin-bottom: 32px;
}

.models_of_cooperation .benefits-2d__head {
    margin-bottom: 0px;
}

.models_of_cooperation_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -60px;
}
.models_of_cooperation_content_left {
    min-width: 525px;
    padding-top: 60px;
}

.models_of_cooperation_content_right {
    padding-left: 145px;
}

.models_of_cooperation_content_right_item:first-child {
    margin-bottom: 64px;
}

.models_of_cooperation_content_right_item_header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
}
.models_of_cooperation_content_right_item_header span {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    display: flex;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #303031;
    padding-bottom: 5px;
}

.models_of_cooperation_content_right_item_header .num{
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #08BEB2;
    position: relative;
    margin-right: 32px;
}
.models_of_cooperation_content_right_item:nth-child(1) .models_of_cooperation_content_right_item_header .num:before {
    content: "";
    display: block;
    width: 253px;
    height: 198px;
    background-image: url("../fonts/models_of_cooperation_line_1.svg");
    position: absolute;
    left: -270px;
    top: 25px;
}
.models_of_cooperation_content_right_item:nth-child(2) .models_of_cooperation_content_right_item_header .num:before {
    content: "";
    display: block;
    width: 371px;
    height: 134px;
    background-image: url("../fonts/models_of_cooperation_line_2.svg");
    position: absolute;
    left: -385px;
    top: 25px;
}

.models_of_cooperation_content_right_item_content p {
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(48,48,49,0.85);
}



li.menu-item-5282 {
    display: none!important;
}

.projects-2d__title h3,
h3.projects-2d__title {
	font-size: 60px;
    line-height: 110%;
}

.footer-form__title h3 {font-weight: 600;    font-size: 52px;    line-height: 97%;    letter-spacing: .035em;    color: #39b4bd;    margin: 0;}
				@media screen and (max-width: 767px) {
					.footer-form__title h3 {    font-size: 30px;    padding-left: 5px;}
				}

@media screen and (max-width: 767px) {
	.page-template-classy-2d-template h3.projects-2d__title {
    font-size: 30px;
    padding-left: 5px;
}

.page-template-classy-2d-template .st_slider_box_1 {
    padding-top: 20px;
}
.page-template-default .st_slider_box_1 {
    padding-top: 20px;
}

}


@media screen and (max-width: 1400px) {
    .models_of_cooperation_content_right {
        padding-left: 25px;
    }
    .models_of_cooperation_content_right_item .models_of_cooperation_content_right_item_header .num:before {
        display: none!important;
    }

    .models_of_cooperation_content {
        margin-top: 30px;
    }
    .models_of_cooperation_content_left {
        padding-top: 0px;
    }
    .models_of_cooperation_content_left {
        min-width: 400px;
    }
}

.csr_box {
    background-image: url("../images/csr_box_bg.jpg");
    background-size: cover;
    background-position: 50% 0;
    padding: 130px 0;
}

.csr_box .csr_box_header {
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.csr_box .csr_box_text {
    max-width: 750px;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.9;
    color: #FFFFFF;
    margin-bottom: 55px;
}
.csr_box a {
    display: flex;
    width: 192px;
    height: 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #39B4BD;
    border-radius: 3px;
    font-weight: 700;
    font-family: "Rajdhani";
    font-size: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

    @media screen and (max-width: 1199px) {
        .st_submenu_level_2_container_no_mobile {display:none!important;}
        .st_services_background_type_2 {
    padding-right: 16px;
}

.st_services_background_type_2 .st_submenu_container {
    background: none!important;
}
.st_services_background_type_2 .st_submenu_container {
    padding: 10px 0 0px 24px;
}
.st_services_background_type_2 .st_submenu_container .st_submenu_container_wrapper {
    padding-top: 0px;
}
.st_services_background_type_2 .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 {
    margin-bottom: 6px;
}

.st_services_background_type_2 .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_header:after {
    display: none!important
}
.st_services_background_type_2 .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 div.st_submenu_level_2_header {
    color:#fff!important;
}

        .st_services_no_bg{
            padding-right: 16px;
        }
        .st_services_no_bg > a:after,.st_services_background_type_2 > a:after {
            content: "+";
            position: absolute;
            top: 0;
            right: -16px;
            display: block;
            font-weight: 400;
        }


        .st_project_items {
            flex-direction: column;
        }
        .st_project_item a img {
            display: none!important;
        }
        .st_project_item a span {
            margin-top:5px;
        }

        .st_project_item a span br {
            display: none!important;
        }
        .st_project_item a span i {
            display: none;
        }
        .st_services_no_bg .st_submenu_container {
            padding: 10px 0 10px 0;
        }

    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container {
        background-image: unset;
    }
    .header-menu {
        background: rgba(48,48,49,.95)!important;
    }
    .st_submenu_container {
        opacity: 1;
        visibility: visible;
        position: relative;
        top: unset;
        left: unset;
        background-image: unset;
        padding: 20px 20px 0 20px;
        background-color: unset;
        display: none;
    }

    .st_new_menu {
        flex-wrap: wrap;
    }
    .st_new_menu > li {
        margin-left: 0px!important;
        width: 100%;
        margin-bottom: 20px;
		position: relative;
    }
	.st_new_menu > li.st_services_no_bg > a {position: inherit;}
	.st_new_menu > li.st_services_no_bg.active:after {
		content: '-';
		bottom: unset;
		top:-2px;
		right: 3px;
	}
	.st_new_menu > li.st_services_no_bg > a:after {
    display: none;
}
	
	
    .st_submenu_container .st_submenu_container_wrapper {
        min-height: unset;
    }

    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 {
        margin-bottom: 5px;
    }
    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container {
        position: relative;
        right: unset;
        top: unset;
        height: unset;
        width: 100%;
        padding: 0 0 0;
    }
    
    
    .st_new_menu > li > a,.st_new_menu > li > .st_menu_first_level > a {
        padding-bottom: 0px;
        font-size: 20px;
    }
    .st_new_menu > li > a:before {
        display: none;
    }
    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_header {
        margin-bottom: 0px;
        font-size: 20px;
        position: relative;
    }
    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 div.st_submenu_level_2_header.active {
        color: rgba(255,255,255,0.5);
    }

    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 div.st_submenu_level_2_header.hide_it {
        color: #fff;
        display: none;
    }


    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_header a {
        margin-bottom: 16px;
        font-size: 20px;
    }

    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_header .st_go_back {
        display: none;
    }
    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 div.st_submenu_level_2_container.active .st_submenu_level_2_container_header .st_go_back {
        display: block;
        position: absolute;
        right: -33px;
        top: 0;
    }

    .st_services:after {
        display: none;
    }
    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_content .st_submenu_level_2_col {
        width: 100%;
    }
    .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container .st_submenu_level_2_container_content .st_submenu_level_2_col a {
        font-size: 18px;
    }

    .st_new_menu .st_submenu_container .st_submenu_container_wrapper .st_submenu_level_2 .st_submenu_level_2_container {display: none;}


    .st_new_menu > li:first-child > a:after {}
    .st_new_menu > li.active > a:after {
        content: "-";
        right: -14px;
    }


    .our_process_items {
        justify-content: space-between;
    }
    .our_process_item {
        width: calc(50% - 15px);
    }

    .our_process_item {
        margin: 0 0 30px 0!important;
    }


}

@media screen and (max-width: 1000px) {
    .models_of_cooperation_content_right {
        padding-left: 0px;
    }
    .models_of_cooperation_content {
        margin-top: 50px;
    }
    .models_of_cooperation_content_left {
        display: none;
    }

    .models_of_cooperation .benefits-2d__title {
        font-size: 45px;
    }
}


@media (max-width: 768px) {
    .our_process_item {
        width: 100%;
    }
	
	.our_process_items .slick-prev, .our_process_items .slick-next {
	position: absolute;
    width: 60px;
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #303031;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
	background: none;
	border:none;
	z-index:5;
}

.our_process_items:after  {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: #303030;
    position: absolute;
    left: 50%;
    bottom: 0;
}

.our_process_items .slick-next {
    right: 10px;
    top: unset;
    bottom: 0;
}
.our_process_items .slick-prev {
    left: 10px;
    top: unset;
    bottom: 0;
	padding-left: 15px;
}

.our_process_items .slick-prev.slick-disabled, .our_process_items .slick-next.slick-disabled {
    opacity: 0.25;
}


.our_process_items  .slick-prev:before, .our_process_items  .slick-next:before {
    content: "";
    width: 7px;
    height: 18px;
    display: block;
    background-image: url(../fonts/st_slider_arrow_black.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.our_process_items .slick-prev:before {
	position: absolute;
    left: 0;
    top: 0;
}
.our_process_items .slick-next:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    order: 1;
	position: absolute;
    right: 0;
    top: 0;
}

.our_process_items {
    padding-bottom: 10px;
}


}


.menu-item-5222 {
	margin-top:30px;
}

.footer-menu .menu-list>.menu-item-has-children>.sub-menu>.menu-item {
    margin-right: 70px;
}

/************************/
.st_slider_box_1 {
        padding: 140px 0 20px;
    }
    .st_slider_box_1 .st_wrapper {
        max-width: 1340px;
        margin:0 auto;
        padding: 0 20px;
    }
    .st_slider_box_1 .st_wrapper .st_slider_box_1_header {
        font-family: "Rajdhani";
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        text-transform: uppercase;
        color: #303031;
        margin-bottom: 80px; }
    .st_slider_box_1 .st_wrapper .st_slider_box_1_header span {
        color: #39B4BD; }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page {
        display:flex;
		flex-wrap: wrap;
		justify-content: center;
        /* the parent */ }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-slide {
        margin: 0 16px; }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-list {
        margin: 0 -16px; }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-prev, .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-next {
        width: 60px;
        font-family: "Rajdhani";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #303031;
        display: flex !important;
        align-items: center;
        justify-content: space-between; }
    /*.st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-prev {
        left: -165px; }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-next {
        right: -165px; }*/
    
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-prev {
            left: 10px;
            top: unset;
            bottom: 0;
        }

        .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-next {
            right: 10px;
            top: unset;
            bottom: 0;
        }
    
    
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-prev {
        
    }
    
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-prev.slick-disabled, .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-next.slick-disabled {
        opacity: 0.25; }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-prev.slick-disabled:before, .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-next.slick-disabled:before {
        opacity: 1; }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-prev:before, .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-next:before {
        content: "";
        width: 7px;
        height: 13px;
        display: block;
        background-image: url("../fonts/st_slider_arrow_black_1.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%; }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-next:before {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        order: 1; }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .st_slider_on_main_page_item {
        width: calc(25% - 20px);
        margin: 0 10px 40px 10px;
        display: block !important;
        -webkit-transition: ease-in-out 0.3s;
        -moz-transition: ease-in-out 0.3s;
        -ms-transition: ease-in-out 0.3s;
        -o-transition: ease-in-out 0.3s;
        transition: ease-in-out 0.3s; }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .st_slider_on_main_page_item:hover {
        opacity: 0.8; }
    .st_slider_box_1 .st_wrapper .st_slider_on_main_page .st_slider_on_main_page_item a .logo_block {
        border: 1px solid rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        border-top: none;
        display: flex;
        height: 100px;
        width: 100%;
        align-items: center;
        justify-content: center; }
    .st_slider_box_1 .st_wrapper .text-center {
        text-align: center; }
    .st_slider_box_1 .st_wrapper .btn {
        display: inline-block;
        border: 0;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #39b4bd;
        padding: 19px 50px 18px;
        font-family: Rajdhani, sans-serif;
        font-size: 17px;
        line-height: 1;
        box-shadow: none;
        transition: .2s ease-in-out;
        color: #fff;
        border-radius: 3px;
        white-space: nowrap;
        margin: 0 auto; }

    /*@media only screen and (max-width: 1700px) {
        .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-prev {
            left: -115px; }

        .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-next {
            right: -115px; } }
            */
    @media only screen and (max-width: 1600px) {
        .st_slider_box_1 .st_wrapper .st_slider_on_main_page {
            padding-bottom: 50px; }

        .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-prev {
            left: 10px;
            top: unset;
            bottom: 0; }

        .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-next {
            right: 10px;
            top: unset;
            bottom: 0; } }
    @media only screen and (max-width: 1300px) {
        .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-slide {
            margin: 0 8px; }
        .st_slider_box_1 .st_wrapper .st_slider_on_main_page .slick-list {
            margin: 0 -8px; } }
    @media only screen and (max-width: 760px) {
        .st_slider_box_1 .st_wrapper .st_slider_box_1_header {
            font-size: 30px;
            margin-bottom: 40px; }
            .csr_box .csr_box_header {
        font-size: 36px;
    }
    }
			
			
			@media only screen and (max-width: 960px) {
        .st_slider_box_1 .st_wrapper .st_slider_on_main_page .st_slider_on_main_page_item {margin: unset;}
		.slick-slide img {
			margin: 0 auto;
		}
			}
/************************/



@media screen and (min-width: 991px) {
	.footer-middle .footer-info {
    	margin-right:30px;
    }   
}
@media screen and (min-width: 750px) {
    .tax-portfolio-category .p-tag__name,.page-id-1028 .p-tag__name{padding: 0 0 0 0;}
    .tax-portfolio-category .p-tag__name a,.page-id-1028 .p-tag__name a {padding: 17px 20px 19px;}
}
